@media (max-width:768px){
.header-heading{
left: 30px ;
font-size: 20px;
top: 10px;
}
.ul-header{
left: 390px;
top: 15px;
}
.ul-header li{
margin-left: 10px;
font-size: 11px;
}
.sec1{
height: 450px;
}
.sec1-div1{
width: 40%;
height:300px;
left: 50px;
}
.sec1-heading{
font-size: 30px;
line-height: 40px;
}
.sec1-para{
top:290px;
left: 20px;
font-size: 25px;
}
.sec1-div2{
left: 390px;
height: 300px;
top: 100px;
}
.sec2{
height: 750px;
}
.sec2-div1{
width: 50%;
}
.sec2-div2{
width: 50%;
left: 376px;
}
.sec2-div3{
width: 50%;
left: 0px;
top: 400px;
}
.sec2-div4{
width: 50%;
left: 376px;
top: 400px;
}
.sec3-div{
    width: 85%;
    left: 63px;
}
.sec3-heading{
    font-size: 40px;
}
.sec3-heading::after{
margin-left: 280px;
}
.sec4{
    height:auto;
}
.sec4-div1{
    left: 60px;
    width: 80%;
}
.sec4-div2{
    left: 60px;
    top: 150px;
    width: 85%;
}
.sec4-div3{
    width: 41%;
    top:870px ;
    left: 60px;
}
.sec4-div4{
    width: 41%;
    top: 870px;
    left: 390px;
}
.sec4-div5{
    width: 41%;
    top: 1230px;
    left: 60px;
}
.sec4-div6{
    width: 41%;
    top: 1230px;
    left: 390px;
}
.sec5{

    height: 1100px;
    top: 1630px;
}
.sec5-div1{
    left: 10px;
    width: 100%;
}
.sec5-div2{
    width: 40%;
    left: 60px;
}
.sec5-div3{
    width: 40%;
    left: 390px;
}
.sec5-div4{
    width: 40%;
    left: 60px;
    top: 630px;
}
.sec5-div5{
    width: 40%;
    left:390px ;
    top: 630px ;
}
.sec6{
    top: 1630px;
}
.sec6-heading{
    left: 50px;
}
.sec6-para{
    width: 39%;
    left: 70px;
}
.sec6-para1{
    width: 39%;
    left: 400px;
}
.sec7{
    top: 1630px
}
.sec7-div1{
left: 50px;
}
.sec7-div2{
    left: 270px;
}
.sec7-div2-heading{
    left: 10px;
    top: 10px;
}
.sec7-div2-para{
    left: 10px;
    top: 120px;
}
.sec7-div3{
    left: 490px;
}
.sec8{
    top: 1630px;
    height: 1000px;
}
.sec8-div1{
    top: 10px;
    width: 80%;
    left: 50px;
}
.sec8-div2{
    width: 45%;
    top: 100px;
    left: 10px;
}
.div2-h1{
    left:160px;
}
.div2-h2{
    top: 270px;
    left: 160px;
}
.div2-h3{
    left: 160px;
    top: 470px;
}
.sec8-div3{
    width: 48%;
    left: 370px;
}
.sec8-div4{
width: 90%;
top:750px ;
left: 30px;
}
.div2-p4{
margin-top:130px ;
}
.div2-p5{
    margin-top: 140px;
}
.div2-p6{
    margin-top: 140px;
}

.sec9{
    top: 1960px;
}
.sec9-div1{
    left: 60px;
    width: 80%;
}
.sec9-div2{
    background-size: cover;
    width: 46%;
    left: 30px;
}
.sec9-div3{
    left: 375px;
    width: 46%;
}
.sec9-div3-h1{
    top: 180px;
left: 10px;
}
.sec9-div3-p{
    left: 10px;
}
.sec9-div3-h2{
    top: 500px;
    left: 10px;
}
.sec10{
    top: 2000px;
}
.sec10-div1{
    left: 20px;
}
.sec10-div2{
    left: 290px;
}
.sec10-div4{
    top: 140px;
    left: 580px;
}
.sec11{
    top: 2100px;
}
.sec11-div1{
    left: 80px;
}
.sec11-div2{
    left: 340px;
}
.sec11-div3{
    left: 580px;
}
.sec11-div4{
    left: 290px;
}
.sec12{
    top: 2100px ;
}
.sec12-p{
    left: 180px;
}

}















@media (max-width:480px){
header{
height:10px ;
}
.header-heading{
left: 170px;
}
.ul-header{
left: 70px;
top: 40px;
}
.sec1{
height:530px ;
}
.sec1-div1{
width: 60%;
top: 0px;
left: 90px;
}
.sec1-para{
top: 250px;
left: 5px;
}
.sec1-div2{
height: 200px;
left: 135px;
top: 320px;
}
.sec2{
height: 1400px;
}
.sec2-div1{
top: 0px;
width: 100%;
}
.sec2-div2{
width: 100%;
left: 0px;
top: 350px;
}
.sec2-div3{
width: 100%;
left: 0px;
top: 700px;
}
.sec2-div4{
width: 100%;
left: 0px;
top: 1050px;
}
.icon{
left:203px ;
}
.sec2-div-heading{
left: 198px;
}
.sec3{
    height: auto;
}
.sec3-div{
    width: 55%;
left: 100px;
text-align: center;
}
.sec3-heading{
    font-size: 25px;
}
.sec3-heading::after{
    margin-left: 115px;
}
.sec4{
    top: 600px;
    height: auto;
}
.sec4-div1{
    width: 80%;
    left: 0px;
}
.sec4-heading{
    left:70px;
    font-size: 30px;
    text-align: center;
}
.sec4-para{
    left: 183px;
}
.sec4-div2{
    left: 35px;
}
.sec4-div3{
    width: 85%;
    left: 35px;
}
.icon1{
    left: 165px;
}
.sec4-p1{
left: 0px;
text-align: center;
}
.sec4-div4{
    width: 85%;
    left: 35px;
    top: 1230px;
}
.sec4-div5{
    width: 85%;
    left: 35px;
    top: 1590px;
}
.sec4-div6{
    left: 35px;
    width: 85%;
    top: 1950px;
}
.sec5{
    height: 1800px;;
    top:2950px;
}
.sec5-div2{
    width: 75%;
}
.sec5-div3{
    width: 75%;
    left: 60px;
    top: 620px;
}
.sec5-div4{
    width: 75%;
    left: 60px;
    top: 990px;
}
.sec5-div5{
    width: 75%;
    left: 60px;
    top: 1360px; ;
}
.sec6{
    top: 2940px;
    height: 950px;
}
.sec6-heading{
    width: 70%;
    top: 40px;
    left:65px;
}
.sec6-para{
width: 80%;
left: 50px;
top: 380px;
}
.sec6-para1{
    width: 80%;
    left: 60px;
    top: 630px;
}
.sec7{
    top: 2940px;
    height: 1200px;
}
.sec7-div1{
    height:250px;
    width: 60%;
    left: 90px;
}
.sec7-div2{
    height: 500px;
    width:60% ;
    top: 360px;
    left: 90px;
}
.sec7-div3{
    height: 250px;
    width:60%;
    top: 870px;
    left: 90px;
    
}
.sec8{
    top: 2900px;
    height: 1950px;
}
.sec8-div1{
    width: 80%;
    left: 0px;
}
.sec8-para{
    left: 185px;
}
.sec8-heading{
    left: 95px;
    text-align: center;
}
.sec8-div2{
    width: 100%;
    left: 0px;

}
.div2-h1{
    text-align: center  ;
    margin-top: 25px;
}
.div2-h2{
    margin-top: 10px;
}
.div2-h3{
    margin-top: -10px;
}

.sec8-div3{
    top: 720px;
    left:0px;
    width: 100%;
}
.sec8-div4{
    width: 100%;
    left: 0px;
    top: 1300px;
}
.div2-h4{
    left: 130px;
}
.div2-h5{
    margin-top: 40px;
    left: 170px;
}
.div2-h6{
    margin-top: 50px;
    left:165px ;
}
.sec9{
    height: 1300px;
    top: 2900px;
}
.sec9-div1{
    left: 0px;
    width: 100%;
}
.sec9-para{
    left: 195px;
}
.sec9-heading{
    left: 0px;
    text-align: center;
}
.sec9-div2{
    left: 45px;
    width: 80%;
    background-size: contain;
}
.sec9-div3{
    width: 80%;
    top: 520px;
    left: 45px;
}
.sec10{
    height: 900px;
    top: 3000px;
}
.sec10-div1{
    top: 0px;
    left: 150px;
}
.sec10-div2{
    left: 150px;
    top: 330px;
}
.sec10-div4{
    left:175px ;
    top: 670px;
}
.sec11{
    top: 2980px;
    height: 800px;
}
.sec11-div1{
    width: 60%;
    left: 170px;
}
.sec11-div2{
    width: 60%;
    left:170px;
    top: 300px;
}
.sec11-div3{
    width: 60%;
    left:170px;
    top: 500px;
}
.sec11-div4{
top: 700px;
width: 40%;
left: 140px;
}
.sec12{
    top: 2980px;
}
.sec12-p{
    left: 25px;
}



}


























